*

!.gitignore
!but3D.gif
!butCreatePart.gif
!butDrill.gif
!butEmpty.gif
!butEmpty1.gif
!butEmpty2.gif
!butEmpty3.gif
!butEmpty4.gif
!butEmpty5.gif
!butEngrave.gif
!butMillHole.gif
!butMillPocket.gif
!butMillPocketAround.gif
!butMillRing.gif
!butOutline.gif
!butSelect.gif
